@import "../abstracts/abstracts.scss";

/*Banner*/

.banner {
  background: linear-gradient(
      $color-primary1-transparent,
      $color-primary2-transparent
    ),
    url("../images/thumbnail_top_img.png") no-repeat;
  background-size: cover;
  background-origin: top left;

  @include responsive("phone") {
    padding: 2rem;
  }

  & > nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 114rem;

    & > div {
      font-family: Open-Sans, sans-serif;
      &:first-of-type {
        display: inline;
        text-align: center;
        padding: 1rem;
        font-weight: 700;
        font-size: 1.3rem;

        @include responsive("phone") {
          text-align: right;
        }

        & a:link,
        a:visited {
          color: white;

          &:after {
            content: "|";
            color: $color-primary1;
            padding-left: 1rem;
          }
        }
      }

      &:last-of-type {
        background-color: #fff;
        padding: 2rem;
        letter-spacing: 0.15rem;
        font-weight: 600;
        display: flex;
        flex-direction: column;

        @include responsive("phone") {
          flex-direction: row;
          flex-wrap: wrap;
        }

        @include responsive("tablet") {
          flex-wrap: nowrap;
        }

        & a:link,
        a:visited {
          color: $color-grey2;
          margin: 0 2rem;
          align-self: center;
          margin-bottom: 0.5rem;
          @include responsive("phone") {
            margin-bottom: 0;
            flex: 1 1 15%;
          }

          @include responsive("tablet") {
            height: 2rem;
            flex: initial;
          }
        }

        & a:hover {
          color: $color-grey3;
        }

        & a:link:first-of-type {
          @include responsive("phone") {
            flex-basis: 5%;
          }

          @include responsive("tablet") {
            flex-basis: initial;
          }
        }

        & a:link:last-of-type {
          margin-bottom: 2rem;
          @include responsive("phone") {
            margin-bottom: 0;
          }

          @include responsive("tablet") {
            margin-right: 10%;
          }
        }
      }

      & a:link {
        text-decoration: none;
        margin: 0 0.5rem;
        text-transform: uppercase;
        transition: color 0.2s ease-in-out;
      }
    }
  }
}
