@import "../abstracts/abstracts";

button,
.button {
  display: block;
  text-decoration: none;
  padding: 2rem;
  text-align: center;
  color: white;
  font-family: Open-Sans, sans-serif;
  font-size: 2rem;
  width: 100%;
  max-width: 40rem;
  transition: background-color .2s ease-in-out;

  &:visited {
    color: white;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-primary5; 
}

  &--primary {
    background-color: $color-primary6;
  }

  &--secondary {
    background-color: $color-primary1;
    border-radius: .5rem;
  }
}
