@import "../abstracts/abstracts";

button,
.button {
  display: block;
  text-decoration: none;
  padding: 2rem;
  text-align: center;
  color: white;
  font-family: Open-Sans, sans-serif;
  font-size: 2rem;
  width: 100%;
  max-width: 40rem;

  &:visited {
    color: white;
  }

  &--primary {
    background-color: $color-primary6;
    transition: background-color .2s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: $color-primary5; 
    }
  }
}
