@import "../abstracts/abstracts";

.currentlearning {
    margin-top: 4rem;
    padding: 0;

    @include responsive("phone") {
        padding: 0 1rem;
    }
    & > h1 {
        color: $color-primary1;
        text-align: center;

        @include responsive("phone") {
            text-align: left;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

        &-item {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-bottom: .2rem solid $color-grey4;

            @include responsive("phone") {
                flex-direction: row;
            }

            &:first-of-type {
                border-top: .2rem solid $color-grey4;
            }

            &:nth-child(2n+2) {
                background-color: $color-grey5;
            }

            & > div {
                padding: 1rem;
                flex: 1 1 25%;

                &:first-of-type {
                    flex-basis: 50%;
                }

                &:nth-child(2) {
                    flex-basis: 10%;
                }

                &:nth-child(3) {
                    & > div {
                        @include responsive("phone") {
                            margin-top: 2.75rem;
                        }

                    }
                }

                &:last-of-type {
                    & > a {
                        margin: 0 auto;
                    }
                }

                & > p:first-of-type {
                    color: $color-primary2;
                    font-size: 1.8rem;
                }
            }
        }
    }
}