@import "../abstracts/abstracts";

footer {
    background-color: $color-primary2;

    & > div {
        max-width: 114rem;
        margin: 0 auto;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;

        @include responsive("phone") {
            flex-direction: row;
        }

        & > div {
            flex: 1 1 100%;
            text-align: center;
            align-self: center;

            &:first-of-type {
                flex-basis: 25%;
                width: 100%;
                min-width: 18rem;
                max-width: 25rem;
            }

            &:last-of-type {
                flex-basis: 65%;
                @include responsive("tablet") {
                    flex-basis: 35%;
                }

            }

            & > p {
                font-size: 1.4rem;
                color: white;
                margin: 1rem 0;

                @include responsive("phone") {
                    margin: 0;
                }
            }

            & .mininav {
                & a {
                    color: white !important;
                }
            }
        }
    }
}