@import "../abstracts/abstracts";

header {
  max-width: 114rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;

  @include responsive("phone") {
    flex-direction: row;
  }

  & > section {
    &:first-of-type {
        padding: 0 4rem;
        color: white;
        flex: 1 1 60%;
        margin-bottom: 4rem;
        text-align: center;

        @include responsive("phone") {
          margin-bottom: 0;
          text-align: left;
        }

        & > a {
          margin: 0 auto;

          @include responsive("phone") {
            margin: 0;
          }
        }

        & p {
          margin: 2rem 0 3rem 0;
          color: white;
        }
    }

    &:last-of-type {
      flex: 1 1 40%
    }
  }
}
