@import "../abstracts/abstracts";

.hero {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;

    @include responsive("phone") {
        flex-direction: row;
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    & div {
        flex: 1;
        align-self: center;
        width: 60%;

        &:first-of-type {
            @include responsive("phone") {
                flex-basis: 50%;
                margin-right: 2rem;
            }

        }

        &:last-of-type {
            width: 100%;
            @include responsive("phone") {
                flex-basis: 65%;
            }
        }

        & > h1 {
            color: $color-primary1;
        }

        & > a {
            margin: 2rem auto 0 auto;

            @include responsive("phone") {
                margin: 2rem 0 0 0;
            }
        }
    }
}