@import "../abstracts/abstracts.scss";

input {
    border: 0;
    border-color: transparent; 
    background-color: $color-grey6;
    padding: 0 1rem;
    transition: border-color .2s ease-in-out;
    flex: 1;
    min-height: 5rem;
    width: 100%;
    border-radius: .5rem;

    &:focus {
        border: .1rem solid $color-primary2;
    }
}