@import "../abstracts/abstracts.scss";

.banner {
  min-height: 50vh;
  background: url("../images/thumbnail_top_img.png") no-repeat;
  background-size: cover;
  background-origin: top left;

  @include responsive("phone") {
      min-height: 100vh
  }
}
