$color-primary1: #006482;
$color-primary2: #50aabe;
$color-primary3: #002f44;
$color-primary4: #c30050;
$color-primary5: #73b9c8;
$color-primary6: #ffd032;

$color-primary1-transparent: rgba(0, 100, 130, .4);
$color-primary2-transparent: rgba(80, 170, 190, .8);

$color-grey1: #3c3c3c;
$color-grey2: #696969;
$color-grey3: #98989c;
$color-grey4: #c1c1c1;
$color-grey5: #edeeef;
$color-grey6: #f7f7f7;
